@import url('https://fonts.googleapis.com/css2?family=Itim&family=Karantina:wght@300;400;700&family=Koulen&family=Madimi+One&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Oswald";
    margin: 0;
    padding: 0;
}
body{
    background-color: #66A5AD;
}
.logo img {
    max-width: 86px;
    border: none;
    border-radius:8px;
}
nav li  {
    list-style: none;
}
nav li a{
    color: black;
    text-decoration: none;
}
header{
display: flex;
justify-content: space-between;
padding: 20px;
background-color: #C4DFE6;
border-bottom-right-radius:30px;
border-bottom-left-radius:30px ;
}

nav{
display: flex;
gap: 36px;
font-size: 26px;
padding-right: 420px;

}
main{
    display: flex;
    padding-top: 160px;
    padding-left: 30px;
    justify-content: space-around;
}

.formated-paragraph {
    font-size: 18px;
    line-height: 1.6;
    white-space: pre-line;
}
.main-photo img{
    max-width: 320px;
    
}
.main-button{
    padding-top: 20px;
}
.main-button input{
    border:none ;
    width: 160px;
    height: 50px;
    border-radius: 16px;
    background-color: #003B46;
    color: #C4DFE6;
}